# Lst-Lists

In [16]:
lst=["arjuna","sara",10,1006,5011]
lst

['arjuna', 'sara', 10, 1006, 5011]

In [2]:
lst.append("menaka")
lst

['arjuna', 'sara', 10, 1006, 5011, 'menaka']

In [75]:
lst.count("sara")

1

In [7]:
lst.extend("sara")
lst

['arjuna', 'sara', 10, 1006, 5011, 'menaka', 's', 'a', 'r', 'a']

In [8]:
lst.index("menaka")

5

In [12]:
lst.pop(2)
lst

['arjuna', 'sara', 1006, 5011, 'menaka', 's', 'a', 'r', 'a']

# Dict-Dictionaries

In [33]:
dit={"name":"sara","age":"20","no.":8499433292,"email":"sara10@gmail"}
dit

{'name': 'sara', 'age': '20', 'no.': 8499433292, 'email': 'sara10@gmail'}

In [18]:
dit.get('name')

'sara'

In [35]:
dit.items()

dict_items([('name', 'sara'), ('age', '20'), ('no.', 8499433292), ('email', 'sara10@gmail')])

In [36]:
dit.keys()

dict_keys(['name', 'age', 'no.', 'email'])

In [37]:
dit.pop("no.")
dit

{'name': 'sara', 'age': '20', 'email': 'sara10@gmail'}

In [38]:
dit["college"] = "sahyadri"
dit

{'name': 'sara', 'age': '20', 'email': 'sara10@gmail', 'college': 'sahyadri'}

# St- Sets

In [41]:
st={"sara","sahyadri",1,2,3,4,4,5,6,5,5}
st

{1, 2, 3, 4, 5, 6, 'sahyadri', 'sara'}

In [63]:
st1={"sara","arjun",2,4}
st1.issubset(st)

False

In [65]:
st1.intersection(st)

{2, 4, 'sara'}

In [66]:
st1.difference(st)

{'arjun'}

In [67]:
st1.union(st)

{1, 2, 3, 4, 5, 6, 'arjun', 'sahyadri', 'sara'}

In [70]:
st1.isdisjoint(st)

False

# Tup-Tuples

In [71]:
tup=("sara","@","sahyadriclg")
tup

('sara', '@', 'sahyadriclg')

In [74]:
tup.count("@")

1

In [76]:
tup.index("sahyadriclg")

2

# str-string

In [77]:
name="punith"
name1="sudeepa"

In [78]:
name1

'sudeepa'

In [79]:
name + name1

'punithsudeepa'

In [80]:
name + " " + name1

'punith sudeepa'

In [81]:
type(name)

str

In [87]:
len(name1)

7